<% if cookinglists.any? %>
  <ul class="list-unstyled mt-2">
    <% cookinglists.each do |cookinglist| %>
      <li class="d-flex">
        <div>
          <div>
            <p>作成日：<%= cookinglist.created_at %></p>
            <p>献立：<%= cookinglist.content %></p>
          </div>
          <div>
            <% if current_user == cookinglist.user %>
              <%= link_to "Delete", cookinglist, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>