<% if todos.any? %>
  <ul class="list-unstyled mt-2">
    <% todos.each do |todo| %>
      <li class="d-flex">
        <div>
          <div>
            <p><%= todo.content %></p>
          </div>
          <div>
            <% if current_user == todo.user %>
              <%= link_to "Delete", todo, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>